

@font-face {
    font-family: 'circular_stdbold';
    src: url('circularstd-bold-webfont.woff2') format('woff2'),
         url('circularstd-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'circular_stdmedium';
    src: url('circularstd-medium-webfont.woff2') format('woff2'),
         url('circularstd-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}